#root {
  max-width: 1280px;
  padding: 5rem;
  color: black;
  /* margin-left: 2rem;
  margin-right: 2rem; */
}

/********* Header *********/
.header-section {
  /* border: 5px dashed purple; */
  display: flex;
  gap: 2rem;
}

img {
  width: 100%;
  max-width: 15rem;
  border-radius: 1.5rem;
}

.statement-div {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1.5rem;
  padding: 2rem;
}

.statement-title {
  margin-top: 0;
  color: #0068ef;
}

.statement-objective {
  font-size: 1.5rem;
}

/********* Competencies *********/
.competencies {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 2rem;
}

.proficiency,
.skills {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1.5rem;
  padding: 1rem;
}

  /********* Mobile view *********/
@media only screen and (max-width: 600px) {
  #root {
    max-width: 600Px;
    padding: 1rem;
    /* margin-left: 2rem;
    margin-right: 2rem; */
  }

  /********* Header *********/
  .header-section {
    /* border: 5px dashed purple; */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  img {
    max-width: 23rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 1.5rem;
    margin: auto;
  }
}

  /********* Tablet view *********/
@media only screen and (max-width: 768px) {

  /********* Header *********/
  .header-section {
    /* border: 5px dashed rgb(245, 240, 245); */
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  img {
    margin: auto;
  }
}